@font-face {
    font-family: baseballClubSolid;
    src: url(./assets/BaseballClubSolid-E4X69.ttf);
}
@font-face {
    font-family: coffeeHealing;
    src: url(./assets/CoffeeHealing-1GrKe.ttf);
}
@font-face {
    font-family: peachFlamingo;
    src: url(./assets/PeachflamingoSans-j94Z9.ttf);
}

* {
    z-index: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    margin-top: 18vh;
    max-width: 130px;
}
.team1 {
    background-color: #C60C30;
}
.team2 {
    background-color: #002244;
}
h1 {
    font-family: baseballClubSolid;
    font-size: 4em;
    color: white;
    -webkit-text-stroke: 1px black;
}
h2 {
    font-family: baseballClubSolid;
    font-size: 4em;
}
h3 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
}

#body-bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    #bg-team1 {
        border: 8px solid #B0B7BC;
        text-align: end;
        #pats-logo {
            margin-right: 5vw;
        }
    }
    #bg-team2 {
        #hawks-logo {
            margin-left: 5vw;
        }
        border: 8px solid #69BE28;
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* border: 2px solid black; */
}

#num-picker {
    font-family: peachFlamingo;
    position: absolute;
    padding: 1em 1.5em 2em 1.5em;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    margin-top: 45vh;
    max-width: 80%;
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    h3 {
        margin-bottom: 0.5em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            margin-bottom: 0.5em;
        }
        input {
            margin-bottom: 0.5em;
        }
        button {
            font-family: peachFlamingo;
            width: fit-content;
            padding: 0.3em;
        }
        #badnum-msg {
            color: red;
            margin-bottom: 0.5em;
        }
    }
}

header {
    /* border: 1px solid black; */
    text-align: center;
    padding: 2em 0 1em 0;
}

main {
    /* border: 2px solid black; */
    flex-grow: 2;
    text-align: center;
    padding: 0.5em;
    /* margin-bottom: 1em; */
    #bingo-card {
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 800px;
        height: 100%;
        margin: auto;
        #card-title {
            padding: 0.5em 0;
            display: flex;
            justify-content: space-around;
            border: 2px solid black;
            -webkit-text-stroke: 1px #C60C30;
        }
        
        #square-grid {
            flex-grow: 2;
            display: grid;
            grid-template-columns: repeat(5, minmax(20px, 1fr) );
            grid-template-rows: repeat(5, 1fr);
            border: 2px solid black;
            border-top: none;
            .square {
                font-family: peachFlamingo;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow-wrap: break-word;
                p {
                    margin: 0.1em;
                    padding: 0.5em 0;
                    border-radius: 50px;
                    background-color: white;
                }
            }

            .square:nth-of-type(5n+1), 
            .square:nth-of-type(5n+2), 
            .square:nth-of-type(5n+3),
            .square:nth-of-type(5n+4) {
                border-right: 2px solid black;
            }
            .square:nth-of-type(5n+6),
            .square:nth-of-type(5n+7), 
            .square:nth-of-type(5n+8),
            .square:nth-of-type(5n+9),
            .square:nth-of-type(5n+10) {
                border-top: 2px solid black;
            }
        }
    }
}

@keyframes bingoMsg {
    from {font-size: 4vw;}
    to {font-size: 7vw;}
}

#bingo-msg {
    font-family: baseballClubSolid;
    font-size: 7vw;
    animation-name: bingoMsg;
    animation-duration: 2s;
    color: #890DB7;
    text-align: center;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    -webkit-text-stroke: 1px black;
    display: flex;
    align-items: center;
    * {
        padding: 0.1em;
    }
}

#reset-btns {
    padding: 0.5em;
    text-align: center;

    button {
        text-align: center;
        font-size: 1.2em;
        text-align: center;
        padding: 0.1em 0.3em;
        font-family: peachFlamingo;
    }

}

footer {
    text-align: center;
    font-size: 0.5em;
    margin-bottom: 1em;
    h1 {
        color: #D30915;
        -webkit-text-stroke: 1px #FFB81B;
    }
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 1.5em;
    }
    /* #num-picker {
        padding: 1em;
    } */
    p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {

    p {
        font-size: 0.75em;
    }
}
